<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <app-sidebar></app-sidebar>
  <main class="container">
    <header class="header">
      <h1>Listado de tickets</h1>
      <p>Aquí puedes visualizar todos los datos de tus tickets</p>
    </header>

    <!-- Lista de tickets -->
     <section class="ListaTickets">
      <table class="styled-table">
        <thead>
          <tr>
            <td>Descripción del cambio</td>
            <td>Fecha registrada</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of HistoryList">
            <td>{{ticket.changeDescription}}</td>
            <td>{{ticket.entryDate | date : 'short' }}</td>
          </tr>
        </tbody>
      </table>
     </section>

     <div class="boton" (click)="onSubmit()">
      <button>Regresar a la lista de tickets</button>
     </div>

  </main>
</body>

</html>
