
.sidebar {
  z-index: 2;
  overflow: hidden;
  position: fixed;
  font-family: 'Poppins',sans-serif;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 62px;
  background: #1b1b1b;
  transition: width 0.4s;
}

.sidebar nav {
  padding: 0 8px;
}

.header {
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  height: 72px;
  padding: 0 20px 0 8px;
  background: rgb(0 0 0 / 25%);
}

.header img {
  height: 34px;
  margin-left: 7px;
}

.img{
  height: 4px;
}
.sidebar a p, .header p {
  position: absolute;
  top: 50%;
  left: 42px;
  translate: 0 -50%;
  opacity: 0;
  margin: 0;
  white-space: nowrap;
  transition: 0.175s;
}

.sidebar i {
  font-size: 16px;
}

.header p {
  left: 60px;
}

.sidebar:hover {
  width: 250px;
}

.sidebar:hover :is(a p, .header p) {
  opacity: 1;
}

.sidebar a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  height: 54px;
  width: 100%;
  border-radius: 6px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  padding: 0 0 0 8px;
  opacity: 0.75;
  color: #ffffff;
  cursor: pointer;
}

.sidebar a:hover {
  background: rgb(0 0 0 / 20%);
  opacity: 1;
}
/*Estilos para Moviles*/
@media(min-width: 390px) and (max-width: 767.98px) {
  p {
    display: none;
  }

  .sidebar {
    flex-direction: row;
    width: 100%;
    height: 62px;
    top: 0;
    left: 0;
    bottom: auto;
    right: 0;
    justify-content: space-between;
  }

  .header {
    height: 62px;
    padding: 0 8px;
    justify-content: center;
  }

  .header img {
    height: 34px;
    margin-left: 0px;
  }

  .sidebar nav {
    display: flex;
    padding: 0;
    width: 100%;
  }

  .sidebar a {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 62px;
    padding: 0;
    text-align: center;
  }

  .sidebar a p {
    opacity: 0;
    display: none;
  }

  .sidebar:hover {
    width: auto;
  }

  .sidebar:hover :is(a p, .header p) {
    opacity: 0;
  }
}
